:root {
  --background: #f5f5f5;
  --card-background: #173dd0;
  --input: #dfe6e8;
  --white: #eeeeee;
  --output-line: #456EBF;
  --black: #0D0D0D;
  --placeholder:#A5A5A5;
  --aproved:#4caf50;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;

}

body {
  height: 100vh;
  font-size: 1.6rem;
  background-color: var(--card-background);
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background);
  width: 100%;
  height: 120px;
}


.TodoSearch {
  height: 60px;
  width: 75%;
  min-width: 250px;
  max-width: 420px;
  margin: 20px auto 0;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  color: var(--black);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  background-color: var(--background);
  transition: outline 0.2s;
}

.TodoSearch::placeholder {
  color: var(--placeholder);
}

.TodoSearch:focus {
  outline: 1px solid var(--output-line);
  /* outline-color: var(--output-line); */
}


.TodoCounter {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  color: var(--white);
  margin: 20px 0;
  padding: 0 10px;
}



.main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100vh - 120px);
  margin: 0 auto;
  padding: 20px 25px;
  border-radius: 70px 0 0 0;
  background-color: var(--background);
  overflow: auto;
}

.element {
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  list-style: none;
}


.TodoItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  margin: 10px 0;
  border-radius: 20px;
  text-align: center;
  color: var(--white);
  background-color: var(--card-background);  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.Icon {
  width: 20%;
  color: var(white);
  text-decoration: none;
  font-size: 4.2rem;
  font-weight: 500;
}

.Icon-check--active {
  color: #4caf50;
}


.TodoItem-p {
  width: 60%;
  font-size: 2.5rem;
  text-align: start;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

.buttonTodo {
  z-index: 2;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 2.4rem;
  border: none;
  color: var(--white);
  background-color: var(--output-line);
  transition: outline 1s;
}

.buttonTodo:hover {
  outline: 1px solid var(--white);
}

.Icon-delete:hover {
  color: red;
}